<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/admin.css}">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div class="user_seacher">
    <div class="user_seacher_logo_with_name">
        <div class="user_seacher_logo_with_name_logo"><img th:src="@{/images/logo.png}"/></div>
        <div class="user_seacher_logo_with_name_name"><h1>Поиск данных о сотруднике</h1></div>
    </div>
    <div class="user_seacher_search_field">
        <div class="user_seacher_search">
            <form method="get">
                <div style="display: flex; flex-direction: row; gap: 10px; align-items: center" >
                    <div class="user_seacher_search_label">
                        <h2>Поисковый запрос</h2>
                    </div>
                    <div class="user_seacher_search_input">
                        <input type="text" name="parametr" id="parametr"/>
                    </div>
                </div>
                <div class="user_seacher_button">
                    <button type="submit">Поиск</button>
                </div>
            </form>
        </div>

    </div>
    <div class="user_seacher_table">
        <table th:if="${!employees.isEmpty()}" >
            <tr >
                <td><p>Муниципальное образование</p></td>
                <td><p>Организация</p></td>
                <td><p>ФИО</p></td>
                <td><p>Должность</p></td>
                <td><p>СНИЛС</p></td>
                <td><p>Причина увольнения</p></td>
            </tr>
            <tr th:each="employee : ${employees}">
                <td><p th:text="${employee.region_id.name}"></p></td>
                <td><p th:text="${employee.Organization}"></p></td>
                <td><p th:text="${employee.SurName + ' '+ employee.name + ' ' +employee.patronymic}"></p></td>
                <td><p th:text="${employee.employeeDolhnost}"></p></td>
                <td><p th:text="${employee.Snils}"></p></td>
                <td><p th:text="${employee.ReasonOfDismissal}"></p></td>
            </tr>
        </table>
    </div>
</div>
<script th:src="@{/js/admin.js}"></script>
</body>
</html>
